.flex-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
}

.flex-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}